body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0.5em 1em;
    font-family: sans-serif;
}

#tuiter-navbar {
    padding: 1em 1em 0;
}

#tuiter-navbar .list-group {
    max-width: fit-content;
    margin: 0 0 0 auto;
}

#tuiter-navbar .list-group-item {
    background-color: black;
    color: white;
    font-weight: 300;
    padding: 0.75em 1em;
}

#tuiter-navbar .active {
    border: none;
    background-color: #1E2023;
    font-weight: 700;
}

#tuiter-navbar .btn-primary {
    border-radius: 2em;
    background-color: #00acee;
    padding: 0.5em 0;
    font-size: 14px;
    font-weight: 500;
}

#tuiter-navbar i {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    text-align: center;
}


.pseudo-card {
    background-color: #1E2023;
    padding: 20px;
    border-radius: 25px;
    width: 100%;

}

/*#tuiter-follow .card {*/
/*    width: fit-content;*/
/*    color: white;*/
/*    background-color: #1E2023;*/
/*    margin: 1em;*/
/*    padding: 1em;*/
/*    border-radius: 1em;*/
/*}*/

#tuiter-follow h5 {
    font-weight: 600;
    margin-bottom: 1em;
}

#tuiter-follow a {
    text-decoration: none;
    font-size: 14px;
}

.tuiter-follow-recommendation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.tuiter-follow-recommendation img {
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    object-fit: cover;
}

.tuiter-follow-recommendation .btn-light {
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: 12px;
    background-color: white;
    color: black;
}
.profile-summary {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.profile-summary img {
    margin-right: 0.5em;
}

.profile-summary b {
    color: white;
}

.wd-explore-search {
    display: flex;
    align-items: center;
    padding: 1em 1em 0;
}

.wd-explore-search input {
    background-color: #1E2023;
    color: white;
    border-radius: 1em;
    border: none;
    padding: 0.5em 1.5em;
}

#wd-explore-body {
    border-width: 0 1px;
    border-style: solid;
    border-color: dimgrey;
    padding: 0;
}

.wd-explore-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    margin-top: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: dimgrey;
}

.wd-explore-post img {
    width: 4em;
    height: 4em;
    border-radius: 0.5em;
    object-fit: cover;
    object-position: center;
}

.wd-explore-annotations {
    font-size: 12px;
    color: rgb(110, 118, 125);
}

.wd-explore-feed__author {
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.wd-explore-title {
    font-size: 14px;
    font-weight: 600;
}

#wd-explore-featured {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 32em;
    padding: 1em;
    background-image:
            url("https://techcrunch.com/wp-content/uploads/2019/09/Starship-Mk1-Day.jpg");
    background-size: cover;
    background-position: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: dimgrey;
}

.wd-explore-tabs ul {
    padding: 0;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-explore-tabs li {
    list-style-type: none;
    display: inline-block;
}

.wd-explore-tabs li:not(:first-child) {
    margin-left: 1em;
}

.wd-explore-tabs a,
.wd-explore-tabs a:visited {
    font-size: 15px;
    color: #5B656B;
    text-decoration: none;
    padding-bottom: 0.5em;
    display: inline-block;
}

.wd-explore-tabs #active-tab,
.wd-explore-tabs #active-tab:visited {
    color: rgb(29, 161, 242);
    border-bottom: 1px solid #1E2023;
}

.wd-explore-suggested-posts__post {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1em;
    border: 1px solid rgb(47, 51, 54);
}

.wd-explore-suggested-posts__post img {
    width: 100px;
    height: 100px;
    border-radius: 1em;
    margin: 0.75em 0 0.75em 2em;
    object-fit: cover;
}

.wd-explore-suggested-posts__annotations {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-explore-suggested-posts__author {
    color: white;
    font-weight: 500;
}

.wd-explore-suggested-posts__title {
    font-size: 16px;
    font-weight: 600;
}

.wd-explore-suggested-posts__tweet-count {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.setting-icon-style {
    margin-left: 5px;
}
